make-base-two {
  make-base-two--256: 1 1 0 0 0 0 0 0 0 0;
  make-base-two--255: 1 1 1 1 1 1 1 1 1;
  make-base-two--254: 1 1 1 1 1 1 1 1 0;
  make-base-two--253: 1 1 1 1 1 1 1 0 1;
  make-base-two--252: 1 1 1 1 1 1 1 0 0;
  make-base-two--251: 1 1 1 1 1 1 0 1 1;
  make-base-two--250: 1 1 1 1 1 1 0 1 0;
  make-base-two--249: 1 1 1 1 1 1 0 0 1;
  make-base-two--248: 1 1 1 1 1 1 0 0 0;
  make-base-two--247: 1 1 1 1 1 0 1 1 1;
  make-base-two--246: 1 1 1 1 1 0 1 1 0;
  make-base-two--245: 1 1 1 1 1 0 1 0 1;
  make-base-two--244: 1 1 1 1 1 0 1 0 0;
  make-base-two--243: 1 1 1 1 1 0 0 1 1;
  make-base-two--242: 1 1 1 1 1 0 0 1 0;
  make-base-two--241: 1 1 1 1 1 0 0 0 1;
  make-base-two--240: 1 1 1 1 1 0 0 0 0;
  make-base-two--239: 1 1 1 1 0 1 1 1 1;
  make-base-two--238: 1 1 1 1 0 1 1 1 0;
  make-base-two--237: 1 1 1 1 0 1 1 0 1;
  make-base-two--236: 1 1 1 1 0 1 1 0 0;
  make-base-two--235: 1 1 1 1 0 1 0 1 1;
  make-base-two--234: 1 1 1 1 0 1 0 1 0;
  make-base-two--233: 1 1 1 1 0 1 0 0 1;
  make-base-two--232: 1 1 1 1 0 1 0 0 0;
  make-base-two--231: 1 1 1 1 0 0 1 1 1;
  make-base-two--230: 1 1 1 1 0 0 1 1 0;
  make-base-two--229: 1 1 1 1 0 0 1 0 1;
  make-base-two--228: 1 1 1 1 0 0 1 0 0;
  make-base-two--227: 1 1 1 1 0 0 0 1 1;
  make-base-two--226: 1 1 1 1 0 0 0 1 0;
  make-base-two--225: 1 1 1 1 0 0 0 0 1;
  make-base-two--224: 1 1 1 1 0 0 0 0 0;
  make-base-two--223: 1 1 1 0 1 1 1 1 1;
  make-base-two--222: 1 1 1 0 1 1 1 1 0;
  make-base-two--221: 1 1 1 0 1 1 1 0 1;
  make-base-two--220: 1 1 1 0 1 1 1 0 0;
  make-base-two--219: 1 1 1 0 1 1 0 1 1;
  make-base-two--218: 1 1 1 0 1 1 0 1 0;
  make-base-two--217: 1 1 1 0 1 1 0 0 1;
  make-base-two--216: 1 1 1 0 1 1 0 0 0;
  make-base-two--215: 1 1 1 0 1 0 1 1 1;
  make-base-two--214: 1 1 1 0 1 0 1 1 0;
  make-base-two--213: 1 1 1 0 1 0 1 0 1;
  make-base-two--212: 1 1 1 0 1 0 1 0 0;
  make-base-two--211: 1 1 1 0 1 0 0 1 1;
  make-base-two--210: 1 1 1 0 1 0 0 1 0;
  make-base-two--209: 1 1 1 0 1 0 0 0 1;
  make-base-two--208: 1 1 1 0 1 0 0 0 0;
  make-base-two--207: 1 1 1 0 0 1 1 1 1;
  make-base-two--206: 1 1 1 0 0 1 1 1 0;
  make-base-two--205: 1 1 1 0 0 1 1 0 1;
  make-base-two--204: 1 1 1 0 0 1 1 0 0;
  make-base-two--203: 1 1 1 0 0 1 0 1 1;
  make-base-two--202: 1 1 1 0 0 1 0 1 0;
  make-base-two--201: 1 1 1 0 0 1 0 0 1;
  make-base-two--200: 1 1 1 0 0 1 0 0 0;
  make-base-two--199: 1 1 1 0 0 0 1 1 1;
  make-base-two--198: 1 1 1 0 0 0 1 1 0;
  make-base-two--197: 1 1 1 0 0 0 1 0 1;
  make-base-two--196: 1 1 1 0 0 0 1 0 0;
  make-base-two--195: 1 1 1 0 0 0 0 1 1;
  make-base-two--194: 1 1 1 0 0 0 0 1 0;
  make-base-two--193: 1 1 1 0 0 0 0 0 1;
  make-base-two--192: 1 1 1 0 0 0 0 0 0;
  make-base-two--191: 1 1 0 1 1 1 1 1 1;
  make-base-two--190: 1 1 0 1 1 1 1 1 0;
  make-base-two--189: 1 1 0 1 1 1 1 0 1;
  make-base-two--188: 1 1 0 1 1 1 1 0 0;
  make-base-two--187: 1 1 0 1 1 1 0 1 1;
  make-base-two--186: 1 1 0 1 1 1 0 1 0;
  make-base-two--185: 1 1 0 1 1 1 0 0 1;
  make-base-two--184: 1 1 0 1 1 1 0 0 0;
  make-base-two--183: 1 1 0 1 1 0 1 1 1;
  make-base-two--182: 1 1 0 1 1 0 1 1 0;
  make-base-two--181: 1 1 0 1 1 0 1 0 1;
  make-base-two--180: 1 1 0 1 1 0 1 0 0;
  make-base-two--179: 1 1 0 1 1 0 0 1 1;
  make-base-two--178: 1 1 0 1 1 0 0 1 0;
  make-base-two--177: 1 1 0 1 1 0 0 0 1;
  make-base-two--176: 1 1 0 1 1 0 0 0 0;
  make-base-two--175: 1 1 0 1 0 1 1 1 1;
  make-base-two--174: 1 1 0 1 0 1 1 1 0;
  make-base-two--173: 1 1 0 1 0 1 1 0 1;
  make-base-two--172: 1 1 0 1 0 1 1 0 0;
  make-base-two--171: 1 1 0 1 0 1 0 1 1;
  make-base-two--170: 1 1 0 1 0 1 0 1 0;
  make-base-two--169: 1 1 0 1 0 1 0 0 1;
  make-base-two--168: 1 1 0 1 0 1 0 0 0;
  make-base-two--167: 1 1 0 1 0 0 1 1 1;
  make-base-two--166: 1 1 0 1 0 0 1 1 0;
  make-base-two--165: 1 1 0 1 0 0 1 0 1;
  make-base-two--164: 1 1 0 1 0 0 1 0 0;
  make-base-two--163: 1 1 0 1 0 0 0 1 1;
  make-base-two--162: 1 1 0 1 0 0 0 1 0;
  make-base-two--161: 1 1 0 1 0 0 0 0 1;
  make-base-two--160: 1 1 0 1 0 0 0 0 0;
  make-base-two--159: 1 1 0 0 1 1 1 1 1;
  make-base-two--158: 1 1 0 0 1 1 1 1 0;
  make-base-two--157: 1 1 0 0 1 1 1 0 1;
  make-base-two--156: 1 1 0 0 1 1 1 0 0;
  make-base-two--155: 1 1 0 0 1 1 0 1 1;
  make-base-two--154: 1 1 0 0 1 1 0 1 0;
  make-base-two--153: 1 1 0 0 1 1 0 0 1;
  make-base-two--152: 1 1 0 0 1 1 0 0 0;
  make-base-two--151: 1 1 0 0 1 0 1 1 1;
  make-base-two--150: 1 1 0 0 1 0 1 1 0;
  make-base-two--149: 1 1 0 0 1 0 1 0 1;
  make-base-two--148: 1 1 0 0 1 0 1 0 0;
  make-base-two--147: 1 1 0 0 1 0 0 1 1;
  make-base-two--146: 1 1 0 0 1 0 0 1 0;
  make-base-two--145: 1 1 0 0 1 0 0 0 1;
  make-base-two--144: 1 1 0 0 1 0 0 0 0;
  make-base-two--143: 1 1 0 0 0 1 1 1 1;
  make-base-two--142: 1 1 0 0 0 1 1 1 0;
  make-base-two--141: 1 1 0 0 0 1 1 0 1;
  make-base-two--140: 1 1 0 0 0 1 1 0 0;
  make-base-two--139: 1 1 0 0 0 1 0 1 1;
  make-base-two--138: 1 1 0 0 0 1 0 1 0;
  make-base-two--137: 1 1 0 0 0 1 0 0 1;
  make-base-two--136: 1 1 0 0 0 1 0 0 0;
  make-base-two--135: 1 1 0 0 0 0 1 1 1;
  make-base-two--134: 1 1 0 0 0 0 1 1 0;
  make-base-two--133: 1 1 0 0 0 0 1 0 1;
  make-base-two--132: 1 1 0 0 0 0 1 0 0;
  make-base-two--131: 1 1 0 0 0 0 0 1 1;
  make-base-two--130: 1 1 0 0 0 0 0 1 0;
  make-base-two--129: 1 1 0 0 0 0 0 0 1;
  make-base-two--128: 1 1 0 0 0 0 0 0 0;
  make-base-two--127: 1 1 1 1 1 1 1 1;
  make-base-two--126: 1 1 1 1 1 1 1 0;
  make-base-two--125: 1 1 1 1 1 1 0 1;
  make-base-two--124: 1 1 1 1 1 1 0 0;
  make-base-two--123: 1 1 1 1 1 0 1 1;
  make-base-two--122: 1 1 1 1 1 0 1 0;
  make-base-two--121: 1 1 1 1 1 0 0 1;
  make-base-two--120: 1 1 1 1 1 0 0 0;
  make-base-two--119: 1 1 1 1 0 1 1 1;
  make-base-two--118: 1 1 1 1 0 1 1 0;
  make-base-two--117: 1 1 1 1 0 1 0 1;
  make-base-two--116: 1 1 1 1 0 1 0 0;
  make-base-two--115: 1 1 1 1 0 0 1 1;
  make-base-two--114: 1 1 1 1 0 0 1 0;
  make-base-two--113: 1 1 1 1 0 0 0 1;
  make-base-two--112: 1 1 1 1 0 0 0 0;
  make-base-two--111: 1 1 1 0 1 1 1 1;
  make-base-two--110: 1 1 1 0 1 1 1 0;
  make-base-two--109: 1 1 1 0 1 1 0 1;
  make-base-two--108: 1 1 1 0 1 1 0 0;
  make-base-two--107: 1 1 1 0 1 0 1 1;
  make-base-two--106: 1 1 1 0 1 0 1 0;
  make-base-two--105: 1 1 1 0 1 0 0 1;
  make-base-two--104: 1 1 1 0 1 0 0 0;
  make-base-two--103: 1 1 1 0 0 1 1 1;
  make-base-two--102: 1 1 1 0 0 1 1 0;
  make-base-two--101: 1 1 1 0 0 1 0 1;
  make-base-two--100: 1 1 1 0 0 1 0 0;
  make-base-two--99: 1 1 1 0 0 0 1 1;
  make-base-two--98: 1 1 1 0 0 0 1 0;
  make-base-two--97: 1 1 1 0 0 0 0 1;
  make-base-two--96: 1 1 1 0 0 0 0 0;
  make-base-two--95: 1 1 0 1 1 1 1 1;
  make-base-two--94: 1 1 0 1 1 1 1 0;
  make-base-two--93: 1 1 0 1 1 1 0 1;
  make-base-two--92: 1 1 0 1 1 1 0 0;
  make-base-two--91: 1 1 0 1 1 0 1 1;
  make-base-two--90: 1 1 0 1 1 0 1 0;
  make-base-two--89: 1 1 0 1 1 0 0 1;
  make-base-two--88: 1 1 0 1 1 0 0 0;
  make-base-two--87: 1 1 0 1 0 1 1 1;
  make-base-two--86: 1 1 0 1 0 1 1 0;
  make-base-two--85: 1 1 0 1 0 1 0 1;
  make-base-two--84: 1 1 0 1 0 1 0 0;
  make-base-two--83: 1 1 0 1 0 0 1 1;
  make-base-two--82: 1 1 0 1 0 0 1 0;
  make-base-two--81: 1 1 0 1 0 0 0 1;
  make-base-two--80: 1 1 0 1 0 0 0 0;
  make-base-two--79: 1 1 0 0 1 1 1 1;
  make-base-two--78: 1 1 0 0 1 1 1 0;
  make-base-two--77: 1 1 0 0 1 1 0 1;
  make-base-two--76: 1 1 0 0 1 1 0 0;
  make-base-two--75: 1 1 0 0 1 0 1 1;
  make-base-two--74: 1 1 0 0 1 0 1 0;
  make-base-two--73: 1 1 0 0 1 0 0 1;
  make-base-two--72: 1 1 0 0 1 0 0 0;
  make-base-two--71: 1 1 0 0 0 1 1 1;
  make-base-two--70: 1 1 0 0 0 1 1 0;
  make-base-two--69: 1 1 0 0 0 1 0 1;
  make-base-two--68: 1 1 0 0 0 1 0 0;
  make-base-two--67: 1 1 0 0 0 0 1 1;
  make-base-two--66: 1 1 0 0 0 0 1 0;
  make-base-two--65: 1 1 0 0 0 0 0 1;
  make-base-two--64: 1 1 0 0 0 0 0 0;
  make-base-two--63: 1 1 1 1 1 1 1;
  make-base-two--62: 1 1 1 1 1 1 0;
  make-base-two--61: 1 1 1 1 1 0 1;
  make-base-two--60: 1 1 1 1 1 0 0;
  make-base-two--59: 1 1 1 1 0 1 1;
  make-base-two--58: 1 1 1 1 0 1 0;
  make-base-two--57: 1 1 1 1 0 0 1;
  make-base-two--56: 1 1 1 1 0 0 0;
  make-base-two--55: 1 1 1 0 1 1 1;
  make-base-two--54: 1 1 1 0 1 1 0;
  make-base-two--53: 1 1 1 0 1 0 1;
  make-base-two--52: 1 1 1 0 1 0 0;
  make-base-two--51: 1 1 1 0 0 1 1;
  make-base-two--50: 1 1 1 0 0 1 0;
  make-base-two--49: 1 1 1 0 0 0 1;
  make-base-two--48: 1 1 1 0 0 0 0;
  make-base-two--47: 1 1 0 1 1 1 1;
  make-base-two--46: 1 1 0 1 1 1 0;
  make-base-two--45: 1 1 0 1 1 0 1;
  make-base-two--44: 1 1 0 1 1 0 0;
  make-base-two--43: 1 1 0 1 0 1 1;
  make-base-two--42: 1 1 0 1 0 1 0;
  make-base-two--41: 1 1 0 1 0 0 1;
  make-base-two--40: 1 1 0 1 0 0 0;
  make-base-two--39: 1 1 0 0 1 1 1;
  make-base-two--38: 1 1 0 0 1 1 0;
  make-base-two--37: 1 1 0 0 1 0 1;
  make-base-two--36: 1 1 0 0 1 0 0;
  make-base-two--35: 1 1 0 0 0 1 1;
  make-base-two--34: 1 1 0 0 0 1 0;
  make-base-two--33: 1 1 0 0 0 0 1;
  make-base-two--32: 1 1 0 0 0 0 0;
  make-base-two--31: 1 1 1 1 1 1;
  make-base-two--30: 1 1 1 1 1 0;
  make-base-two--29: 1 1 1 1 0 1;
  make-base-two--28: 1 1 1 1 0 0;
  make-base-two--27: 1 1 1 0 1 1;
  make-base-two--26: 1 1 1 0 1 0;
  make-base-two--25: 1 1 1 0 0 1;
  make-base-two--24: 1 1 1 0 0 0;
  make-base-two--23: 1 1 0 1 1 1;
  make-base-two--22: 1 1 0 1 1 0;
  make-base-two--21: 1 1 0 1 0 1;
  make-base-two--20: 1 1 0 1 0 0;
  make-base-two--19: 1 1 0 0 1 1;
  make-base-two--18: 1 1 0 0 1 0;
  make-base-two--17: 1 1 0 0 0 1;
  make-base-two--16: 1 1 0 0 0 0;
  make-base-two--15: 1 1 1 1 1;
  make-base-two--14: 1 1 1 1 0;
  make-base-two--13: 1 1 1 0 1;
  make-base-two--12: 1 1 1 0 0;
  make-base-two--11: 1 1 0 1 1;
  make-base-two--10: 1 1 0 1 0;
  make-base-two--9: 1 1 0 0 1;
  make-base-two--8: 1 1 0 0 0;
  make-base-two--7: 1 1 1 1;
  make-base-two--6: 1 1 1 0;
  make-base-two--5: 1 1 0 1;
  make-base-two--4: 1 1 0 0;
  make-base-two--3: 1 1 1;
  make-base-two--2: 1 1 0;
  make-base-two--1: 1 1;
  make-base-two-0: 0 0;
  make-base-two-1: 0 1;
  make-base-two-2: 0 1 0;
  make-base-two-3: 0 1 1;
  make-base-two-4: 0 1 0 0;
  make-base-two-5: 0 1 0 1;
  make-base-two-6: 0 1 1 0;
  make-base-two-7: 0 1 1 1;
  make-base-two-8: 0 1 0 0 0;
  make-base-two-9: 0 1 0 0 1;
  make-base-two-10: 0 1 0 1 0;
  make-base-two-11: 0 1 0 1 1;
  make-base-two-12: 0 1 1 0 0;
  make-base-two-13: 0 1 1 0 1;
  make-base-two-14: 0 1 1 1 0;
  make-base-two-15: 0 1 1 1 1;
  make-base-two-16: 0 1 0 0 0 0;
  make-base-two-17: 0 1 0 0 0 1;
  make-base-two-18: 0 1 0 0 1 0;
  make-base-two-19: 0 1 0 0 1 1;
  make-base-two-20: 0 1 0 1 0 0;
  make-base-two-21: 0 1 0 1 0 1;
  make-base-two-22: 0 1 0 1 1 0;
  make-base-two-23: 0 1 0 1 1 1;
  make-base-two-24: 0 1 1 0 0 0;
  make-base-two-25: 0 1 1 0 0 1;
  make-base-two-26: 0 1 1 0 1 0;
  make-base-two-27: 0 1 1 0 1 1;
  make-base-two-28: 0 1 1 1 0 0;
  make-base-two-29: 0 1 1 1 0 1;
  make-base-two-30: 0 1 1 1 1 0;
  make-base-two-31: 0 1 1 1 1 1;
  make-base-two-32: 0 1 0 0 0 0 0;
  make-base-two-33: 0 1 0 0 0 0 1;
  make-base-two-34: 0 1 0 0 0 1 0;
  make-base-two-35: 0 1 0 0 0 1 1;
  make-base-two-36: 0 1 0 0 1 0 0;
  make-base-two-37: 0 1 0 0 1 0 1;
  make-base-two-38: 0 1 0 0 1 1 0;
  make-base-two-39: 0 1 0 0 1 1 1;
  make-base-two-40: 0 1 0 1 0 0 0;
  make-base-two-41: 0 1 0 1 0 0 1;
  make-base-two-42: 0 1 0 1 0 1 0;
  make-base-two-43: 0 1 0 1 0 1 1;
  make-base-two-44: 0 1 0 1 1 0 0;
  make-base-two-45: 0 1 0 1 1 0 1;
  make-base-two-46: 0 1 0 1 1 1 0;
  make-base-two-47: 0 1 0 1 1 1 1;
  make-base-two-48: 0 1 1 0 0 0 0;
  make-base-two-49: 0 1 1 0 0 0 1;
  make-base-two-50: 0 1 1 0 0 1 0;
  make-base-two-51: 0 1 1 0 0 1 1;
  make-base-two-52: 0 1 1 0 1 0 0;
  make-base-two-53: 0 1 1 0 1 0 1;
  make-base-two-54: 0 1 1 0 1 1 0;
  make-base-two-55: 0 1 1 0 1 1 1;
  make-base-two-56: 0 1 1 1 0 0 0;
  make-base-two-57: 0 1 1 1 0 0 1;
  make-base-two-58: 0 1 1 1 0 1 0;
  make-base-two-59: 0 1 1 1 0 1 1;
  make-base-two-60: 0 1 1 1 1 0 0;
  make-base-two-61: 0 1 1 1 1 0 1;
  make-base-two-62: 0 1 1 1 1 1 0;
  make-base-two-63: 0 1 1 1 1 1 1;
  make-base-two-64: 0 1 0 0 0 0 0 0;
  make-base-two-65: 0 1 0 0 0 0 0 1;
  make-base-two-66: 0 1 0 0 0 0 1 0;
  make-base-two-67: 0 1 0 0 0 0 1 1;
  make-base-two-68: 0 1 0 0 0 1 0 0;
  make-base-two-69: 0 1 0 0 0 1 0 1;
  make-base-two-70: 0 1 0 0 0 1 1 0;
  make-base-two-71: 0 1 0 0 0 1 1 1;
  make-base-two-72: 0 1 0 0 1 0 0 0;
  make-base-two-73: 0 1 0 0 1 0 0 1;
  make-base-two-74: 0 1 0 0 1 0 1 0;
  make-base-two-75: 0 1 0 0 1 0 1 1;
  make-base-two-76: 0 1 0 0 1 1 0 0;
  make-base-two-77: 0 1 0 0 1 1 0 1;
  make-base-two-78: 0 1 0 0 1 1 1 0;
  make-base-two-79: 0 1 0 0 1 1 1 1;
  make-base-two-80: 0 1 0 1 0 0 0 0;
  make-base-two-81: 0 1 0 1 0 0 0 1;
  make-base-two-82: 0 1 0 1 0 0 1 0;
  make-base-two-83: 0 1 0 1 0 0 1 1;
  make-base-two-84: 0 1 0 1 0 1 0 0;
  make-base-two-85: 0 1 0 1 0 1 0 1;
  make-base-two-86: 0 1 0 1 0 1 1 0;
  make-base-two-87: 0 1 0 1 0 1 1 1;
  make-base-two-88: 0 1 0 1 1 0 0 0;
  make-base-two-89: 0 1 0 1 1 0 0 1;
  make-base-two-90: 0 1 0 1 1 0 1 0;
  make-base-two-91: 0 1 0 1 1 0 1 1;
  make-base-two-92: 0 1 0 1 1 1 0 0;
  make-base-two-93: 0 1 0 1 1 1 0 1;
  make-base-two-94: 0 1 0 1 1 1 1 0;
  make-base-two-95: 0 1 0 1 1 1 1 1;
  make-base-two-96: 0 1 1 0 0 0 0 0;
  make-base-two-97: 0 1 1 0 0 0 0 1;
  make-base-two-98: 0 1 1 0 0 0 1 0;
  make-base-two-99: 0 1 1 0 0 0 1 1;
  make-base-two-100: 0 1 1 0 0 1 0 0;
  make-base-two-101: 0 1 1 0 0 1 0 1;
  make-base-two-102: 0 1 1 0 0 1 1 0;
  make-base-two-103: 0 1 1 0 0 1 1 1;
  make-base-two-104: 0 1 1 0 1 0 0 0;
  make-base-two-105: 0 1 1 0 1 0 0 1;
  make-base-two-106: 0 1 1 0 1 0 1 0;
  make-base-two-107: 0 1 1 0 1 0 1 1;
  make-base-two-108: 0 1 1 0 1 1 0 0;
  make-base-two-109: 0 1 1 0 1 1 0 1;
  make-base-two-110: 0 1 1 0 1 1 1 0;
  make-base-two-111: 0 1 1 0 1 1 1 1;
  make-base-two-112: 0 1 1 1 0 0 0 0;
  make-base-two-113: 0 1 1 1 0 0 0 1;
  make-base-two-114: 0 1 1 1 0 0 1 0;
  make-base-two-115: 0 1 1 1 0 0 1 1;
  make-base-two-116: 0 1 1 1 0 1 0 0;
  make-base-two-117: 0 1 1 1 0 1 0 1;
  make-base-two-118: 0 1 1 1 0 1 1 0;
  make-base-two-119: 0 1 1 1 0 1 1 1;
  make-base-two-120: 0 1 1 1 1 0 0 0;
  make-base-two-121: 0 1 1 1 1 0 0 1;
  make-base-two-122: 0 1 1 1 1 0 1 0;
  make-base-two-123: 0 1 1 1 1 0 1 1;
  make-base-two-124: 0 1 1 1 1 1 0 0;
  make-base-two-125: 0 1 1 1 1 1 0 1;
  make-base-two-126: 0 1 1 1 1 1 1 0;
  make-base-two-127: 0 1 1 1 1 1 1 1;
  make-base-two-128: 0 1 0 0 0 0 0 0 0;
  make-base-two-129: 0 1 0 0 0 0 0 0 1;
  make-base-two-130: 0 1 0 0 0 0 0 1 0;
  make-base-two-131: 0 1 0 0 0 0 0 1 1;
  make-base-two-132: 0 1 0 0 0 0 1 0 0;
  make-base-two-133: 0 1 0 0 0 0 1 0 1;
  make-base-two-134: 0 1 0 0 0 0 1 1 0;
  make-base-two-135: 0 1 0 0 0 0 1 1 1;
  make-base-two-136: 0 1 0 0 0 1 0 0 0;
  make-base-two-137: 0 1 0 0 0 1 0 0 1;
  make-base-two-138: 0 1 0 0 0 1 0 1 0;
  make-base-two-139: 0 1 0 0 0 1 0 1 1;
  make-base-two-140: 0 1 0 0 0 1 1 0 0;
  make-base-two-141: 0 1 0 0 0 1 1 0 1;
  make-base-two-142: 0 1 0 0 0 1 1 1 0;
  make-base-two-143: 0 1 0 0 0 1 1 1 1;
  make-base-two-144: 0 1 0 0 1 0 0 0 0;
  make-base-two-145: 0 1 0 0 1 0 0 0 1;
  make-base-two-146: 0 1 0 0 1 0 0 1 0;
  make-base-two-147: 0 1 0 0 1 0 0 1 1;
  make-base-two-148: 0 1 0 0 1 0 1 0 0;
  make-base-two-149: 0 1 0 0 1 0 1 0 1;
  make-base-two-150: 0 1 0 0 1 0 1 1 0;
  make-base-two-151: 0 1 0 0 1 0 1 1 1;
  make-base-two-152: 0 1 0 0 1 1 0 0 0;
  make-base-two-153: 0 1 0 0 1 1 0 0 1;
  make-base-two-154: 0 1 0 0 1 1 0 1 0;
  make-base-two-155: 0 1 0 0 1 1 0 1 1;
  make-base-two-156: 0 1 0 0 1 1 1 0 0;
  make-base-two-157: 0 1 0 0 1 1 1 0 1;
  make-base-two-158: 0 1 0 0 1 1 1 1 0;
  make-base-two-159: 0 1 0 0 1 1 1 1 1;
  make-base-two-160: 0 1 0 1 0 0 0 0 0;
  make-base-two-161: 0 1 0 1 0 0 0 0 1;
  make-base-two-162: 0 1 0 1 0 0 0 1 0;
  make-base-two-163: 0 1 0 1 0 0 0 1 1;
  make-base-two-164: 0 1 0 1 0 0 1 0 0;
  make-base-two-165: 0 1 0 1 0 0 1 0 1;
  make-base-two-166: 0 1 0 1 0 0 1 1 0;
  make-base-two-167: 0 1 0 1 0 0 1 1 1;
  make-base-two-168: 0 1 0 1 0 1 0 0 0;
  make-base-two-169: 0 1 0 1 0 1 0 0 1;
  make-base-two-170: 0 1 0 1 0 1 0 1 0;
  make-base-two-171: 0 1 0 1 0 1 0 1 1;
  make-base-two-172: 0 1 0 1 0 1 1 0 0;
  make-base-two-173: 0 1 0 1 0 1 1 0 1;
  make-base-two-174: 0 1 0 1 0 1 1 1 0;
  make-base-two-175: 0 1 0 1 0 1 1 1 1;
  make-base-two-176: 0 1 0 1 1 0 0 0 0;
  make-base-two-177: 0 1 0 1 1 0 0 0 1;
  make-base-two-178: 0 1 0 1 1 0 0 1 0;
  make-base-two-179: 0 1 0 1 1 0 0 1 1;
  make-base-two-180: 0 1 0 1 1 0 1 0 0;
  make-base-two-181: 0 1 0 1 1 0 1 0 1;
  make-base-two-182: 0 1 0 1 1 0 1 1 0;
  make-base-two-183: 0 1 0 1 1 0 1 1 1;
  make-base-two-184: 0 1 0 1 1 1 0 0 0;
  make-base-two-185: 0 1 0 1 1 1 0 0 1;
  make-base-two-186: 0 1 0 1 1 1 0 1 0;
  make-base-two-187: 0 1 0 1 1 1 0 1 1;
  make-base-two-188: 0 1 0 1 1 1 1 0 0;
  make-base-two-189: 0 1 0 1 1 1 1 0 1;
  make-base-two-190: 0 1 0 1 1 1 1 1 0;
  make-base-two-191: 0 1 0 1 1 1 1 1 1;
  make-base-two-192: 0 1 1 0 0 0 0 0 0;
  make-base-two-193: 0 1 1 0 0 0 0 0 1;
  make-base-two-194: 0 1 1 0 0 0 0 1 0;
  make-base-two-195: 0 1 1 0 0 0 0 1 1;
  make-base-two-196: 0 1 1 0 0 0 1 0 0;
  make-base-two-197: 0 1 1 0 0 0 1 0 1;
  make-base-two-198: 0 1 1 0 0 0 1 1 0;
  make-base-two-199: 0 1 1 0 0 0 1 1 1;
  make-base-two-200: 0 1 1 0 0 1 0 0 0;
  make-base-two-201: 0 1 1 0 0 1 0 0 1;
  make-base-two-202: 0 1 1 0 0 1 0 1 0;
  make-base-two-203: 0 1 1 0 0 1 0 1 1;
  make-base-two-204: 0 1 1 0 0 1 1 0 0;
  make-base-two-205: 0 1 1 0 0 1 1 0 1;
  make-base-two-206: 0 1 1 0 0 1 1 1 0;
  make-base-two-207: 0 1 1 0 0 1 1 1 1;
  make-base-two-208: 0 1 1 0 1 0 0 0 0;
  make-base-two-209: 0 1 1 0 1 0 0 0 1;
  make-base-two-210: 0 1 1 0 1 0 0 1 0;
  make-base-two-211: 0 1 1 0 1 0 0 1 1;
  make-base-two-212: 0 1 1 0 1 0 1 0 0;
  make-base-two-213: 0 1 1 0 1 0 1 0 1;
  make-base-two-214: 0 1 1 0 1 0 1 1 0;
  make-base-two-215: 0 1 1 0 1 0 1 1 1;
  make-base-two-216: 0 1 1 0 1 1 0 0 0;
  make-base-two-217: 0 1 1 0 1 1 0 0 1;
  make-base-two-218: 0 1 1 0 1 1 0 1 0;
  make-base-two-219: 0 1 1 0 1 1 0 1 1;
  make-base-two-220: 0 1 1 0 1 1 1 0 0;
  make-base-two-221: 0 1 1 0 1 1 1 0 1;
  make-base-two-222: 0 1 1 0 1 1 1 1 0;
  make-base-two-223: 0 1 1 0 1 1 1 1 1;
  make-base-two-224: 0 1 1 1 0 0 0 0 0;
  make-base-two-225: 0 1 1 1 0 0 0 0 1;
  make-base-two-226: 0 1 1 1 0 0 0 1 0;
  make-base-two-227: 0 1 1 1 0 0 0 1 1;
  make-base-two-228: 0 1 1 1 0 0 1 0 0;
  make-base-two-229: 0 1 1 1 0 0 1 0 1;
  make-base-two-230: 0 1 1 1 0 0 1 1 0;
  make-base-two-231: 0 1 1 1 0 0 1 1 1;
  make-base-two-232: 0 1 1 1 0 1 0 0 0;
  make-base-two-233: 0 1 1 1 0 1 0 0 1;
  make-base-two-234: 0 1 1 1 0 1 0 1 0;
  make-base-two-235: 0 1 1 1 0 1 0 1 1;
  make-base-two-236: 0 1 1 1 0 1 1 0 0;
  make-base-two-237: 0 1 1 1 0 1 1 0 1;
  make-base-two-238: 0 1 1 1 0 1 1 1 0;
  make-base-two-239: 0 1 1 1 0 1 1 1 1;
  make-base-two-240: 0 1 1 1 1 0 0 0 0;
  make-base-two-241: 0 1 1 1 1 0 0 0 1;
  make-base-two-242: 0 1 1 1 1 0 0 1 0;
  make-base-two-243: 0 1 1 1 1 0 0 1 1;
  make-base-two-244: 0 1 1 1 1 0 1 0 0;
  make-base-two-245: 0 1 1 1 1 0 1 0 1;
  make-base-two-246: 0 1 1 1 1 0 1 1 0;
  make-base-two-247: 0 1 1 1 1 0 1 1 1;
  make-base-two-248: 0 1 1 1 1 1 0 0 0;
  make-base-two-249: 0 1 1 1 1 1 0 0 1;
  make-base-two-250: 0 1 1 1 1 1 0 1 0;
  make-base-two-251: 0 1 1 1 1 1 0 1 1;
  make-base-two-252: 0 1 1 1 1 1 1 0 0;
  make-base-two-253: 0 1 1 1 1 1 1 0 1;
  make-base-two-254: 0 1 1 1 1 1 1 1 0;
  make-base-two-255: 0 1 1 1 1 1 1 1 1;
  make-base-two-256: 0 1 0 0 0 0 0 0 0 0; }

make-base-ten {
  make-base-ten-1 1 0 0 0 0 0 0 0 0: -256;
  make-base-ten-1 1 1 1 1 1 1 1 1: -255;
  make-base-ten-1 1 1 1 1 1 1 1 0: -254;
  make-base-ten-1 1 1 1 1 1 1 0 1: -253;
  make-base-ten-1 1 1 1 1 1 1 0 0: -252;
  make-base-ten-1 1 1 1 1 1 0 1 1: -251;
  make-base-ten-1 1 1 1 1 1 0 1 0: -250;
  make-base-ten-1 1 1 1 1 1 0 0 1: -249;
  make-base-ten-1 1 1 1 1 1 0 0 0: -248;
  make-base-ten-1 1 1 1 1 0 1 1 1: -247;
  make-base-ten-1 1 1 1 1 0 1 1 0: -246;
  make-base-ten-1 1 1 1 1 0 1 0 1: -245;
  make-base-ten-1 1 1 1 1 0 1 0 0: -244;
  make-base-ten-1 1 1 1 1 0 0 1 1: -243;
  make-base-ten-1 1 1 1 1 0 0 1 0: -242;
  make-base-ten-1 1 1 1 1 0 0 0 1: -241;
  make-base-ten-1 1 1 1 1 0 0 0 0: -240;
  make-base-ten-1 1 1 1 0 1 1 1 1: -239;
  make-base-ten-1 1 1 1 0 1 1 1 0: -238;
  make-base-ten-1 1 1 1 0 1 1 0 1: -237;
  make-base-ten-1 1 1 1 0 1 1 0 0: -236;
  make-base-ten-1 1 1 1 0 1 0 1 1: -235;
  make-base-ten-1 1 1 1 0 1 0 1 0: -234;
  make-base-ten-1 1 1 1 0 1 0 0 1: -233;
  make-base-ten-1 1 1 1 0 1 0 0 0: -232;
  make-base-ten-1 1 1 1 0 0 1 1 1: -231;
  make-base-ten-1 1 1 1 0 0 1 1 0: -230;
  make-base-ten-1 1 1 1 0 0 1 0 1: -229;
  make-base-ten-1 1 1 1 0 0 1 0 0: -228;
  make-base-ten-1 1 1 1 0 0 0 1 1: -227;
  make-base-ten-1 1 1 1 0 0 0 1 0: -226;
  make-base-ten-1 1 1 1 0 0 0 0 1: -225;
  make-base-ten-1 1 1 1 0 0 0 0 0: -224;
  make-base-ten-1 1 1 0 1 1 1 1 1: -223;
  make-base-ten-1 1 1 0 1 1 1 1 0: -222;
  make-base-ten-1 1 1 0 1 1 1 0 1: -221;
  make-base-ten-1 1 1 0 1 1 1 0 0: -220;
  make-base-ten-1 1 1 0 1 1 0 1 1: -219;
  make-base-ten-1 1 1 0 1 1 0 1 0: -218;
  make-base-ten-1 1 1 0 1 1 0 0 1: -217;
  make-base-ten-1 1 1 0 1 1 0 0 0: -216;
  make-base-ten-1 1 1 0 1 0 1 1 1: -215;
  make-base-ten-1 1 1 0 1 0 1 1 0: -214;
  make-base-ten-1 1 1 0 1 0 1 0 1: -213;
  make-base-ten-1 1 1 0 1 0 1 0 0: -212;
  make-base-ten-1 1 1 0 1 0 0 1 1: -211;
  make-base-ten-1 1 1 0 1 0 0 1 0: -210;
  make-base-ten-1 1 1 0 1 0 0 0 1: -209;
  make-base-ten-1 1 1 0 1 0 0 0 0: -208;
  make-base-ten-1 1 1 0 0 1 1 1 1: -207;
  make-base-ten-1 1 1 0 0 1 1 1 0: -206;
  make-base-ten-1 1 1 0 0 1 1 0 1: -205;
  make-base-ten-1 1 1 0 0 1 1 0 0: -204;
  make-base-ten-1 1 1 0 0 1 0 1 1: -203;
  make-base-ten-1 1 1 0 0 1 0 1 0: -202;
  make-base-ten-1 1 1 0 0 1 0 0 1: -201;
  make-base-ten-1 1 1 0 0 1 0 0 0: -200;
  make-base-ten-1 1 1 0 0 0 1 1 1: -199;
  make-base-ten-1 1 1 0 0 0 1 1 0: -198;
  make-base-ten-1 1 1 0 0 0 1 0 1: -197;
  make-base-ten-1 1 1 0 0 0 1 0 0: -196;
  make-base-ten-1 1 1 0 0 0 0 1 1: -195;
  make-base-ten-1 1 1 0 0 0 0 1 0: -194;
  make-base-ten-1 1 1 0 0 0 0 0 1: -193;
  make-base-ten-1 1 1 0 0 0 0 0 0: -192;
  make-base-ten-1 1 0 1 1 1 1 1 1: -191;
  make-base-ten-1 1 0 1 1 1 1 1 0: -190;
  make-base-ten-1 1 0 1 1 1 1 0 1: -189;
  make-base-ten-1 1 0 1 1 1 1 0 0: -188;
  make-base-ten-1 1 0 1 1 1 0 1 1: -187;
  make-base-ten-1 1 0 1 1 1 0 1 0: -186;
  make-base-ten-1 1 0 1 1 1 0 0 1: -185;
  make-base-ten-1 1 0 1 1 1 0 0 0: -184;
  make-base-ten-1 1 0 1 1 0 1 1 1: -183;
  make-base-ten-1 1 0 1 1 0 1 1 0: -182;
  make-base-ten-1 1 0 1 1 0 1 0 1: -181;
  make-base-ten-1 1 0 1 1 0 1 0 0: -180;
  make-base-ten-1 1 0 1 1 0 0 1 1: -179;
  make-base-ten-1 1 0 1 1 0 0 1 0: -178;
  make-base-ten-1 1 0 1 1 0 0 0 1: -177;
  make-base-ten-1 1 0 1 1 0 0 0 0: -176;
  make-base-ten-1 1 0 1 0 1 1 1 1: -175;
  make-base-ten-1 1 0 1 0 1 1 1 0: -174;
  make-base-ten-1 1 0 1 0 1 1 0 1: -173;
  make-base-ten-1 1 0 1 0 1 1 0 0: -172;
  make-base-ten-1 1 0 1 0 1 0 1 1: -171;
  make-base-ten-1 1 0 1 0 1 0 1 0: -170;
  make-base-ten-1 1 0 1 0 1 0 0 1: -169;
  make-base-ten-1 1 0 1 0 1 0 0 0: -168;
  make-base-ten-1 1 0 1 0 0 1 1 1: -167;
  make-base-ten-1 1 0 1 0 0 1 1 0: -166;
  make-base-ten-1 1 0 1 0 0 1 0 1: -165;
  make-base-ten-1 1 0 1 0 0 1 0 0: -164;
  make-base-ten-1 1 0 1 0 0 0 1 1: -163;
  make-base-ten-1 1 0 1 0 0 0 1 0: -162;
  make-base-ten-1 1 0 1 0 0 0 0 1: -161;
  make-base-ten-1 1 0 1 0 0 0 0 0: -160;
  make-base-ten-1 1 0 0 1 1 1 1 1: -159;
  make-base-ten-1 1 0 0 1 1 1 1 0: -158;
  make-base-ten-1 1 0 0 1 1 1 0 1: -157;
  make-base-ten-1 1 0 0 1 1 1 0 0: -156;
  make-base-ten-1 1 0 0 1 1 0 1 1: -155;
  make-base-ten-1 1 0 0 1 1 0 1 0: -154;
  make-base-ten-1 1 0 0 1 1 0 0 1: -153;
  make-base-ten-1 1 0 0 1 1 0 0 0: -152;
  make-base-ten-1 1 0 0 1 0 1 1 1: -151;
  make-base-ten-1 1 0 0 1 0 1 1 0: -150;
  make-base-ten-1 1 0 0 1 0 1 0 1: -149;
  make-base-ten-1 1 0 0 1 0 1 0 0: -148;
  make-base-ten-1 1 0 0 1 0 0 1 1: -147;
  make-base-ten-1 1 0 0 1 0 0 1 0: -146;
  make-base-ten-1 1 0 0 1 0 0 0 1: -145;
  make-base-ten-1 1 0 0 1 0 0 0 0: -144;
  make-base-ten-1 1 0 0 0 1 1 1 1: -143;
  make-base-ten-1 1 0 0 0 1 1 1 0: -142;
  make-base-ten-1 1 0 0 0 1 1 0 1: -141;
  make-base-ten-1 1 0 0 0 1 1 0 0: -140;
  make-base-ten-1 1 0 0 0 1 0 1 1: -139;
  make-base-ten-1 1 0 0 0 1 0 1 0: -138;
  make-base-ten-1 1 0 0 0 1 0 0 1: -137;
  make-base-ten-1 1 0 0 0 1 0 0 0: -136;
  make-base-ten-1 1 0 0 0 0 1 1 1: -135;
  make-base-ten-1 1 0 0 0 0 1 1 0: -134;
  make-base-ten-1 1 0 0 0 0 1 0 1: -133;
  make-base-ten-1 1 0 0 0 0 1 0 0: -132;
  make-base-ten-1 1 0 0 0 0 0 1 1: -131;
  make-base-ten-1 1 0 0 0 0 0 1 0: -130;
  make-base-ten-1 1 0 0 0 0 0 0 1: -129;
  make-base-ten-1 1 0 0 0 0 0 0 0: -128;
  make-base-ten-1 1 1 1 1 1 1 1: -127;
  make-base-ten-1 1 1 1 1 1 1 0: -126;
  make-base-ten-1 1 1 1 1 1 0 1: -125;
  make-base-ten-1 1 1 1 1 1 0 0: -124;
  make-base-ten-1 1 1 1 1 0 1 1: -123;
  make-base-ten-1 1 1 1 1 0 1 0: -122;
  make-base-ten-1 1 1 1 1 0 0 1: -121;
  make-base-ten-1 1 1 1 1 0 0 0: -120;
  make-base-ten-1 1 1 1 0 1 1 1: -119;
  make-base-ten-1 1 1 1 0 1 1 0: -118;
  make-base-ten-1 1 1 1 0 1 0 1: -117;
  make-base-ten-1 1 1 1 0 1 0 0: -116;
  make-base-ten-1 1 1 1 0 0 1 1: -115;
  make-base-ten-1 1 1 1 0 0 1 0: -114;
  make-base-ten-1 1 1 1 0 0 0 1: -113;
  make-base-ten-1 1 1 1 0 0 0 0: -112;
  make-base-ten-1 1 1 0 1 1 1 1: -111;
  make-base-ten-1 1 1 0 1 1 1 0: -110;
  make-base-ten-1 1 1 0 1 1 0 1: -109;
  make-base-ten-1 1 1 0 1 1 0 0: -108;
  make-base-ten-1 1 1 0 1 0 1 1: -107;
  make-base-ten-1 1 1 0 1 0 1 0: -106;
  make-base-ten-1 1 1 0 1 0 0 1: -105;
  make-base-ten-1 1 1 0 1 0 0 0: -104;
  make-base-ten-1 1 1 0 0 1 1 1: -103;
  make-base-ten-1 1 1 0 0 1 1 0: -102;
  make-base-ten-1 1 1 0 0 1 0 1: -101;
  make-base-ten-1 1 1 0 0 1 0 0: -100;
  make-base-ten-1 1 1 0 0 0 1 1: -99;
  make-base-ten-1 1 1 0 0 0 1 0: -98;
  make-base-ten-1 1 1 0 0 0 0 1: -97;
  make-base-ten-1 1 1 0 0 0 0 0: -96;
  make-base-ten-1 1 0 1 1 1 1 1: -95;
  make-base-ten-1 1 0 1 1 1 1 0: -94;
  make-base-ten-1 1 0 1 1 1 0 1: -93;
  make-base-ten-1 1 0 1 1 1 0 0: -92;
  make-base-ten-1 1 0 1 1 0 1 1: -91;
  make-base-ten-1 1 0 1 1 0 1 0: -90;
  make-base-ten-1 1 0 1 1 0 0 1: -89;
  make-base-ten-1 1 0 1 1 0 0 0: -88;
  make-base-ten-1 1 0 1 0 1 1 1: -87;
  make-base-ten-1 1 0 1 0 1 1 0: -86;
  make-base-ten-1 1 0 1 0 1 0 1: -85;
  make-base-ten-1 1 0 1 0 1 0 0: -84;
  make-base-ten-1 1 0 1 0 0 1 1: -83;
  make-base-ten-1 1 0 1 0 0 1 0: -82;
  make-base-ten-1 1 0 1 0 0 0 1: -81;
  make-base-ten-1 1 0 1 0 0 0 0: -80;
  make-base-ten-1 1 0 0 1 1 1 1: -79;
  make-base-ten-1 1 0 0 1 1 1 0: -78;
  make-base-ten-1 1 0 0 1 1 0 1: -77;
  make-base-ten-1 1 0 0 1 1 0 0: -76;
  make-base-ten-1 1 0 0 1 0 1 1: -75;
  make-base-ten-1 1 0 0 1 0 1 0: -74;
  make-base-ten-1 1 0 0 1 0 0 1: -73;
  make-base-ten-1 1 0 0 1 0 0 0: -72;
  make-base-ten-1 1 0 0 0 1 1 1: -71;
  make-base-ten-1 1 0 0 0 1 1 0: -70;
  make-base-ten-1 1 0 0 0 1 0 1: -69;
  make-base-ten-1 1 0 0 0 1 0 0: -68;
  make-base-ten-1 1 0 0 0 0 1 1: -67;
  make-base-ten-1 1 0 0 0 0 1 0: -66;
  make-base-ten-1 1 0 0 0 0 0 1: -65;
  make-base-ten-1 1 0 0 0 0 0 0: -64;
  make-base-ten-1 1 1 1 1 1 1: -63;
  make-base-ten-1 1 1 1 1 1 0: -62;
  make-base-ten-1 1 1 1 1 0 1: -61;
  make-base-ten-1 1 1 1 1 0 0: -60;
  make-base-ten-1 1 1 1 0 1 1: -59;
  make-base-ten-1 1 1 1 0 1 0: -58;
  make-base-ten-1 1 1 1 0 0 1: -57;
  make-base-ten-1 1 1 1 0 0 0: -56;
  make-base-ten-1 1 1 0 1 1 1: -55;
  make-base-ten-1 1 1 0 1 1 0: -54;
  make-base-ten-1 1 1 0 1 0 1: -53;
  make-base-ten-1 1 1 0 1 0 0: -52;
  make-base-ten-1 1 1 0 0 1 1: -51;
  make-base-ten-1 1 1 0 0 1 0: -50;
  make-base-ten-1 1 1 0 0 0 1: -49;
  make-base-ten-1 1 1 0 0 0 0: -48;
  make-base-ten-1 1 0 1 1 1 1: -47;
  make-base-ten-1 1 0 1 1 1 0: -46;
  make-base-ten-1 1 0 1 1 0 1: -45;
  make-base-ten-1 1 0 1 1 0 0: -44;
  make-base-ten-1 1 0 1 0 1 1: -43;
  make-base-ten-1 1 0 1 0 1 0: -42;
  make-base-ten-1 1 0 1 0 0 1: -41;
  make-base-ten-1 1 0 1 0 0 0: -40;
  make-base-ten-1 1 0 0 1 1 1: -39;
  make-base-ten-1 1 0 0 1 1 0: -38;
  make-base-ten-1 1 0 0 1 0 1: -37;
  make-base-ten-1 1 0 0 1 0 0: -36;
  make-base-ten-1 1 0 0 0 1 1: -35;
  make-base-ten-1 1 0 0 0 1 0: -34;
  make-base-ten-1 1 0 0 0 0 1: -33;
  make-base-ten-1 1 0 0 0 0 0: -32;
  make-base-ten-1 1 1 1 1 1: -31;
  make-base-ten-1 1 1 1 1 0: -30;
  make-base-ten-1 1 1 1 0 1: -29;
  make-base-ten-1 1 1 1 0 0: -28;
  make-base-ten-1 1 1 0 1 1: -27;
  make-base-ten-1 1 1 0 1 0: -26;
  make-base-ten-1 1 1 0 0 1: -25;
  make-base-ten-1 1 1 0 0 0: -24;
  make-base-ten-1 1 0 1 1 1: -23;
  make-base-ten-1 1 0 1 1 0: -22;
  make-base-ten-1 1 0 1 0 1: -21;
  make-base-ten-1 1 0 1 0 0: -20;
  make-base-ten-1 1 0 0 1 1: -19;
  make-base-ten-1 1 0 0 1 0: -18;
  make-base-ten-1 1 0 0 0 1: -17;
  make-base-ten-1 1 0 0 0 0: -16;
  make-base-ten-1 1 1 1 1: -15;
  make-base-ten-1 1 1 1 0: -14;
  make-base-ten-1 1 1 0 1: -13;
  make-base-ten-1 1 1 0 0: -12;
  make-base-ten-1 1 0 1 1: -11;
  make-base-ten-1 1 0 1 0: -10;
  make-base-ten-1 1 0 0 1: -9;
  make-base-ten-1 1 0 0 0: -8;
  make-base-ten-1 1 1 1: -7;
  make-base-ten-1 1 1 0: -6;
  make-base-ten-1 1 0 1: -5;
  make-base-ten-1 1 0 0: -4;
  make-base-ten-1 1 1: -3;
  make-base-ten-1 1 0: -2;
  make-base-ten-1 1: -1;
  make-base-ten-0 0: 0;
  make-base-ten-0 1: 1;
  make-base-ten-0 1 0: 2;
  make-base-ten-0 1 1: 3;
  make-base-ten-0 1 0 0: 4;
  make-base-ten-0 1 0 1: 5;
  make-base-ten-0 1 1 0: 6;
  make-base-ten-0 1 1 1: 7;
  make-base-ten-0 1 0 0 0: 8;
  make-base-ten-0 1 0 0 1: 9;
  make-base-ten-0 1 0 1 0: 10;
  make-base-ten-0 1 0 1 1: 11;
  make-base-ten-0 1 1 0 0: 12;
  make-base-ten-0 1 1 0 1: 13;
  make-base-ten-0 1 1 1 0: 14;
  make-base-ten-0 1 1 1 1: 15;
  make-base-ten-0 1 0 0 0 0: 16;
  make-base-ten-0 1 0 0 0 1: 17;
  make-base-ten-0 1 0 0 1 0: 18;
  make-base-ten-0 1 0 0 1 1: 19;
  make-base-ten-0 1 0 1 0 0: 20;
  make-base-ten-0 1 0 1 0 1: 21;
  make-base-ten-0 1 0 1 1 0: 22;
  make-base-ten-0 1 0 1 1 1: 23;
  make-base-ten-0 1 1 0 0 0: 24;
  make-base-ten-0 1 1 0 0 1: 25;
  make-base-ten-0 1 1 0 1 0: 26;
  make-base-ten-0 1 1 0 1 1: 27;
  make-base-ten-0 1 1 1 0 0: 28;
  make-base-ten-0 1 1 1 0 1: 29;
  make-base-ten-0 1 1 1 1 0: 30;
  make-base-ten-0 1 1 1 1 1: 31;
  make-base-ten-0 1 0 0 0 0 0: 32;
  make-base-ten-0 1 0 0 0 0 1: 33;
  make-base-ten-0 1 0 0 0 1 0: 34;
  make-base-ten-0 1 0 0 0 1 1: 35;
  make-base-ten-0 1 0 0 1 0 0: 36;
  make-base-ten-0 1 0 0 1 0 1: 37;
  make-base-ten-0 1 0 0 1 1 0: 38;
  make-base-ten-0 1 0 0 1 1 1: 39;
  make-base-ten-0 1 0 1 0 0 0: 40;
  make-base-ten-0 1 0 1 0 0 1: 41;
  make-base-ten-0 1 0 1 0 1 0: 42;
  make-base-ten-0 1 0 1 0 1 1: 43;
  make-base-ten-0 1 0 1 1 0 0: 44;
  make-base-ten-0 1 0 1 1 0 1: 45;
  make-base-ten-0 1 0 1 1 1 0: 46;
  make-base-ten-0 1 0 1 1 1 1: 47;
  make-base-ten-0 1 1 0 0 0 0: 48;
  make-base-ten-0 1 1 0 0 0 1: 49;
  make-base-ten-0 1 1 0 0 1 0: 50;
  make-base-ten-0 1 1 0 0 1 1: 51;
  make-base-ten-0 1 1 0 1 0 0: 52;
  make-base-ten-0 1 1 0 1 0 1: 53;
  make-base-ten-0 1 1 0 1 1 0: 54;
  make-base-ten-0 1 1 0 1 1 1: 55;
  make-base-ten-0 1 1 1 0 0 0: 56;
  make-base-ten-0 1 1 1 0 0 1: 57;
  make-base-ten-0 1 1 1 0 1 0: 58;
  make-base-ten-0 1 1 1 0 1 1: 59;
  make-base-ten-0 1 1 1 1 0 0: 60;
  make-base-ten-0 1 1 1 1 0 1: 61;
  make-base-ten-0 1 1 1 1 1 0: 62;
  make-base-ten-0 1 1 1 1 1 1: 63;
  make-base-ten-0 1 0 0 0 0 0 0: 64;
  make-base-ten-0 1 0 0 0 0 0 1: 65;
  make-base-ten-0 1 0 0 0 0 1 0: 66;
  make-base-ten-0 1 0 0 0 0 1 1: 67;
  make-base-ten-0 1 0 0 0 1 0 0: 68;
  make-base-ten-0 1 0 0 0 1 0 1: 69;
  make-base-ten-0 1 0 0 0 1 1 0: 70;
  make-base-ten-0 1 0 0 0 1 1 1: 71;
  make-base-ten-0 1 0 0 1 0 0 0: 72;
  make-base-ten-0 1 0 0 1 0 0 1: 73;
  make-base-ten-0 1 0 0 1 0 1 0: 74;
  make-base-ten-0 1 0 0 1 0 1 1: 75;
  make-base-ten-0 1 0 0 1 1 0 0: 76;
  make-base-ten-0 1 0 0 1 1 0 1: 77;
  make-base-ten-0 1 0 0 1 1 1 0: 78;
  make-base-ten-0 1 0 0 1 1 1 1: 79;
  make-base-ten-0 1 0 1 0 0 0 0: 80;
  make-base-ten-0 1 0 1 0 0 0 1: 81;
  make-base-ten-0 1 0 1 0 0 1 0: 82;
  make-base-ten-0 1 0 1 0 0 1 1: 83;
  make-base-ten-0 1 0 1 0 1 0 0: 84;
  make-base-ten-0 1 0 1 0 1 0 1: 85;
  make-base-ten-0 1 0 1 0 1 1 0: 86;
  make-base-ten-0 1 0 1 0 1 1 1: 87;
  make-base-ten-0 1 0 1 1 0 0 0: 88;
  make-base-ten-0 1 0 1 1 0 0 1: 89;
  make-base-ten-0 1 0 1 1 0 1 0: 90;
  make-base-ten-0 1 0 1 1 0 1 1: 91;
  make-base-ten-0 1 0 1 1 1 0 0: 92;
  make-base-ten-0 1 0 1 1 1 0 1: 93;
  make-base-ten-0 1 0 1 1 1 1 0: 94;
  make-base-ten-0 1 0 1 1 1 1 1: 95;
  make-base-ten-0 1 1 0 0 0 0 0: 96;
  make-base-ten-0 1 1 0 0 0 0 1: 97;
  make-base-ten-0 1 1 0 0 0 1 0: 98;
  make-base-ten-0 1 1 0 0 0 1 1: 99;
  make-base-ten-0 1 1 0 0 1 0 0: 100;
  make-base-ten-0 1 1 0 0 1 0 1: 101;
  make-base-ten-0 1 1 0 0 1 1 0: 102;
  make-base-ten-0 1 1 0 0 1 1 1: 103;
  make-base-ten-0 1 1 0 1 0 0 0: 104;
  make-base-ten-0 1 1 0 1 0 0 1: 105;
  make-base-ten-0 1 1 0 1 0 1 0: 106;
  make-base-ten-0 1 1 0 1 0 1 1: 107;
  make-base-ten-0 1 1 0 1 1 0 0: 108;
  make-base-ten-0 1 1 0 1 1 0 1: 109;
  make-base-ten-0 1 1 0 1 1 1 0: 110;
  make-base-ten-0 1 1 0 1 1 1 1: 111;
  make-base-ten-0 1 1 1 0 0 0 0: 112;
  make-base-ten-0 1 1 1 0 0 0 1: 113;
  make-base-ten-0 1 1 1 0 0 1 0: 114;
  make-base-ten-0 1 1 1 0 0 1 1: 115;
  make-base-ten-0 1 1 1 0 1 0 0: 116;
  make-base-ten-0 1 1 1 0 1 0 1: 117;
  make-base-ten-0 1 1 1 0 1 1 0: 118;
  make-base-ten-0 1 1 1 0 1 1 1: 119;
  make-base-ten-0 1 1 1 1 0 0 0: 120;
  make-base-ten-0 1 1 1 1 0 0 1: 121;
  make-base-ten-0 1 1 1 1 0 1 0: 122;
  make-base-ten-0 1 1 1 1 0 1 1: 123;
  make-base-ten-0 1 1 1 1 1 0 0: 124;
  make-base-ten-0 1 1 1 1 1 0 1: 125;
  make-base-ten-0 1 1 1 1 1 1 0: 126;
  make-base-ten-0 1 1 1 1 1 1 1: 127;
  make-base-ten-0 1 0 0 0 0 0 0 0: 128;
  make-base-ten-0 1 0 0 0 0 0 0 1: 129;
  make-base-ten-0 1 0 0 0 0 0 1 0: 130;
  make-base-ten-0 1 0 0 0 0 0 1 1: 131;
  make-base-ten-0 1 0 0 0 0 1 0 0: 132;
  make-base-ten-0 1 0 0 0 0 1 0 1: 133;
  make-base-ten-0 1 0 0 0 0 1 1 0: 134;
  make-base-ten-0 1 0 0 0 0 1 1 1: 135;
  make-base-ten-0 1 0 0 0 1 0 0 0: 136;
  make-base-ten-0 1 0 0 0 1 0 0 1: 137;
  make-base-ten-0 1 0 0 0 1 0 1 0: 138;
  make-base-ten-0 1 0 0 0 1 0 1 1: 139;
  make-base-ten-0 1 0 0 0 1 1 0 0: 140;
  make-base-ten-0 1 0 0 0 1 1 0 1: 141;
  make-base-ten-0 1 0 0 0 1 1 1 0: 142;
  make-base-ten-0 1 0 0 0 1 1 1 1: 143;
  make-base-ten-0 1 0 0 1 0 0 0 0: 144;
  make-base-ten-0 1 0 0 1 0 0 0 1: 145;
  make-base-ten-0 1 0 0 1 0 0 1 0: 146;
  make-base-ten-0 1 0 0 1 0 0 1 1: 147;
  make-base-ten-0 1 0 0 1 0 1 0 0: 148;
  make-base-ten-0 1 0 0 1 0 1 0 1: 149;
  make-base-ten-0 1 0 0 1 0 1 1 0: 150;
  make-base-ten-0 1 0 0 1 0 1 1 1: 151;
  make-base-ten-0 1 0 0 1 1 0 0 0: 152;
  make-base-ten-0 1 0 0 1 1 0 0 1: 153;
  make-base-ten-0 1 0 0 1 1 0 1 0: 154;
  make-base-ten-0 1 0 0 1 1 0 1 1: 155;
  make-base-ten-0 1 0 0 1 1 1 0 0: 156;
  make-base-ten-0 1 0 0 1 1 1 0 1: 157;
  make-base-ten-0 1 0 0 1 1 1 1 0: 158;
  make-base-ten-0 1 0 0 1 1 1 1 1: 159;
  make-base-ten-0 1 0 1 0 0 0 0 0: 160;
  make-base-ten-0 1 0 1 0 0 0 0 1: 161;
  make-base-ten-0 1 0 1 0 0 0 1 0: 162;
  make-base-ten-0 1 0 1 0 0 0 1 1: 163;
  make-base-ten-0 1 0 1 0 0 1 0 0: 164;
  make-base-ten-0 1 0 1 0 0 1 0 1: 165;
  make-base-ten-0 1 0 1 0 0 1 1 0: 166;
  make-base-ten-0 1 0 1 0 0 1 1 1: 167;
  make-base-ten-0 1 0 1 0 1 0 0 0: 168;
  make-base-ten-0 1 0 1 0 1 0 0 1: 169;
  make-base-ten-0 1 0 1 0 1 0 1 0: 170;
  make-base-ten-0 1 0 1 0 1 0 1 1: 171;
  make-base-ten-0 1 0 1 0 1 1 0 0: 172;
  make-base-ten-0 1 0 1 0 1 1 0 1: 173;
  make-base-ten-0 1 0 1 0 1 1 1 0: 174;
  make-base-ten-0 1 0 1 0 1 1 1 1: 175;
  make-base-ten-0 1 0 1 1 0 0 0 0: 176;
  make-base-ten-0 1 0 1 1 0 0 0 1: 177;
  make-base-ten-0 1 0 1 1 0 0 1 0: 178;
  make-base-ten-0 1 0 1 1 0 0 1 1: 179;
  make-base-ten-0 1 0 1 1 0 1 0 0: 180;
  make-base-ten-0 1 0 1 1 0 1 0 1: 181;
  make-base-ten-0 1 0 1 1 0 1 1 0: 182;
  make-base-ten-0 1 0 1 1 0 1 1 1: 183;
  make-base-ten-0 1 0 1 1 1 0 0 0: 184;
  make-base-ten-0 1 0 1 1 1 0 0 1: 185;
  make-base-ten-0 1 0 1 1 1 0 1 0: 186;
  make-base-ten-0 1 0 1 1 1 0 1 1: 187;
  make-base-ten-0 1 0 1 1 1 1 0 0: 188;
  make-base-ten-0 1 0 1 1 1 1 0 1: 189;
  make-base-ten-0 1 0 1 1 1 1 1 0: 190;
  make-base-ten-0 1 0 1 1 1 1 1 1: 191;
  make-base-ten-0 1 1 0 0 0 0 0 0: 192;
  make-base-ten-0 1 1 0 0 0 0 0 1: 193;
  make-base-ten-0 1 1 0 0 0 0 1 0: 194;
  make-base-ten-0 1 1 0 0 0 0 1 1: 195;
  make-base-ten-0 1 1 0 0 0 1 0 0: 196;
  make-base-ten-0 1 1 0 0 0 1 0 1: 197;
  make-base-ten-0 1 1 0 0 0 1 1 0: 198;
  make-base-ten-0 1 1 0 0 0 1 1 1: 199;
  make-base-ten-0 1 1 0 0 1 0 0 0: 200;
  make-base-ten-0 1 1 0 0 1 0 0 1: 201;
  make-base-ten-0 1 1 0 0 1 0 1 0: 202;
  make-base-ten-0 1 1 0 0 1 0 1 1: 203;
  make-base-ten-0 1 1 0 0 1 1 0 0: 204;
  make-base-ten-0 1 1 0 0 1 1 0 1: 205;
  make-base-ten-0 1 1 0 0 1 1 1 0: 206;
  make-base-ten-0 1 1 0 0 1 1 1 1: 207;
  make-base-ten-0 1 1 0 1 0 0 0 0: 208;
  make-base-ten-0 1 1 0 1 0 0 0 1: 209;
  make-base-ten-0 1 1 0 1 0 0 1 0: 210;
  make-base-ten-0 1 1 0 1 0 0 1 1: 211;
  make-base-ten-0 1 1 0 1 0 1 0 0: 212;
  make-base-ten-0 1 1 0 1 0 1 0 1: 213;
  make-base-ten-0 1 1 0 1 0 1 1 0: 214;
  make-base-ten-0 1 1 0 1 0 1 1 1: 215;
  make-base-ten-0 1 1 0 1 1 0 0 0: 216;
  make-base-ten-0 1 1 0 1 1 0 0 1: 217;
  make-base-ten-0 1 1 0 1 1 0 1 0: 218;
  make-base-ten-0 1 1 0 1 1 0 1 1: 219;
  make-base-ten-0 1 1 0 1 1 1 0 0: 220;
  make-base-ten-0 1 1 0 1 1 1 0 1: 221;
  make-base-ten-0 1 1 0 1 1 1 1 0: 222;
  make-base-ten-0 1 1 0 1 1 1 1 1: 223;
  make-base-ten-0 1 1 1 0 0 0 0 0: 224;
  make-base-ten-0 1 1 1 0 0 0 0 1: 225;
  make-base-ten-0 1 1 1 0 0 0 1 0: 226;
  make-base-ten-0 1 1 1 0 0 0 1 1: 227;
  make-base-ten-0 1 1 1 0 0 1 0 0: 228;
  make-base-ten-0 1 1 1 0 0 1 0 1: 229;
  make-base-ten-0 1 1 1 0 0 1 1 0: 230;
  make-base-ten-0 1 1 1 0 0 1 1 1: 231;
  make-base-ten-0 1 1 1 0 1 0 0 0: 232;
  make-base-ten-0 1 1 1 0 1 0 0 1: 233;
  make-base-ten-0 1 1 1 0 1 0 1 0: 234;
  make-base-ten-0 1 1 1 0 1 0 1 1: 235;
  make-base-ten-0 1 1 1 0 1 1 0 0: 236;
  make-base-ten-0 1 1 1 0 1 1 0 1: 237;
  make-base-ten-0 1 1 1 0 1 1 1 0: 238;
  make-base-ten-0 1 1 1 0 1 1 1 1: 239;
  make-base-ten-0 1 1 1 1 0 0 0 0: 240;
  make-base-ten-0 1 1 1 1 0 0 0 1: 241;
  make-base-ten-0 1 1 1 1 0 0 1 0: 242;
  make-base-ten-0 1 1 1 1 0 0 1 1: 243;
  make-base-ten-0 1 1 1 1 0 1 0 0: 244;
  make-base-ten-0 1 1 1 1 0 1 0 1: 245;
  make-base-ten-0 1 1 1 1 0 1 1 0: 246;
  make-base-ten-0 1 1 1 1 0 1 1 1: 247;
  make-base-ten-0 1 1 1 1 1 0 0 0: 248;
  make-base-ten-0 1 1 1 1 1 0 0 1: 249;
  make-base-ten-0 1 1 1 1 1 0 1 0: 250;
  make-base-ten-0 1 1 1 1 1 0 1 1: 251;
  make-base-ten-0 1 1 1 1 1 1 0 0: 252;
  make-base-ten-0 1 1 1 1 1 1 0 1: 253;
  make-base-ten-0 1 1 1 1 1 1 1 0: 254;
  make-base-ten-0 1 1 1 1 1 1 1 1: 255;
  make-base-ten-0 1 0 0 0 0 0 0 0 0: 256; }
