exp {
  exp--5: -4;
  exp--4.5: -3.5;
  exp--4: -3;
  exp--3.5: -2.5;
  exp--3: -2;
  exp--2.5: -1.5;
  exp--2: -1;
  exp--1.5: -0.5;
  exp--1: 0;
  exp--0.5: 0.5;
  exp-0: 1;
  exp-0.5: 1.64872;
  exp-1: 2.71828;
  exp-1.5: 4.48169;
  exp-2: 7.38905;
  exp-2.5: 12.18249;
  exp-3: 20.08554;
  exp-3.5: 33.11545;
  exp-4: 54.59815;
  exp-4.5: 90.01713;
  exp-5: 148.41316;
  exp-5.5: 244.69193;
  exp-6: 403.42879;
  exp-6.5: 665.14163;
  exp-7: 1096.63316;
  exp-7.5: 1808.04241;
  exp-8: 2980.95799;
  exp-8.5: 4914.76884;
  exp-9: 8103.08393;
  exp-9.5: 13359.72683;
  exp-10: 22026.46579;
  exp-10.5: 36315.50267;
  exp-11: 59874.14171;
  exp-11.5: 98715.77101;
  exp-12: 162754.79142;
  exp-12.5: 268337.28652;
  exp-13: 442413.39201;
  exp-13.5: 729416.36985;
  exp-14: 1202604.28416;
  exp-14.5: 1982759.26354;
  exp-15: 3269017.37247;
  exp-15.5: 5389698.47628;
  exp-16: 8886110.52051;
  exp-16.5: 14650719.42895;
  exp-17: 24154952.75357;
  exp-17.5: 39824784.39757;
  exp-18: 65659969.13733;
  exp-18.5: 108254987.75023;
  exp-19: 178482300.96318;
  exp-19.5: 294267566.0415;
  exp-20: 485165195.40979;
  exp-20.5: 799902177.4755;
  exp-21: 1318815734.48321;
  exp-21.5: 2174359553.57649;
  exp-22: 3584912846.13159;
  exp-22.5: 5910522063.02329;
  exp-23: 9744803446.2489;
  exp-23.5: 16066464720.62247;
  exp-24: 26489122129.84347;
  exp-24.5: 43673179097.64644;
  exp-25: 72004899337.3859;
  exp-25.5: 118716009132.16968;
  exp-26: 195729609428.83875;
  exp-26.5: 322703570371.1548;
  exp-27: 532048240601.7988;
  exp-27.5: 877199251318.765;
  exp-28: 1446257064291.4739;
  exp-28.5: 2384474784797.678;
  exp-29: 3931334297144.0425;
  exp-29.5: 6481674477934.322;
  exp-30: 10686474581524.465;
  exp-30.5: 17619017951355.64;
  exp-31: 29048849665247.434;
  exp-31.5: 47893456332463.76;
  exp-32: 78962960182680.75;
  exp-32.5: 130187912050632.97;
  exp-33: 214643579785916.1;
  exp-33.5: 353887435612259.9;
  exp-34: 583461742527454.9;
  exp-34.5: 961965785544777.1;
  exp-35: 1586013452313431.2;
  exp-35.5: 2614894114445695.5;
  exp-36: 4311231547115194.5;
  exp-36.5: 7108019154642247;
  exp-37: 11719142372802604;
  exp-37.5: 19321599304402816;
  exp-38: 31855931757113760;
  exp-38.5: 52521552285925120;
  exp-39: 86593400423993808;
  exp-39.5: 142768381181292016;
  exp-40: 235385266837019936;
  exp-40.5: 388084696243620224;
  exp-41: 639843493530055040;
  exp-41.5: 1054923577702081408;
  exp-42: 1739274941520500480;
  exp-42.5: 2867579591680573440;
  exp-43: 4727839468229345280;
  exp-43.5: 7794889495725307904;
  exp-44: 12851600114359312384;
  exp-44.5: 21188706471076376576;
  exp-45: 34934271057485119488;
  exp-45.5: 57596875768879546368;
  exp-46: 94961194206024400896;
  exp-46.5: 156564540778558357504;
  exp-47: 258131288619006590976;
  exp-47.5: 425586546179390308352;
  exp-48: 701673591209763143680;
  exp-48.5: 1156864174916082597888;
  exp-49: 1907346572495099789312;
  exp-49.5: 3144682864669654253568;
  exp-50: 5184705528587076239360;
  exp-50.5: 8548134287298058518528;
  exp-51: 14093490824269392773120;
  exp-51.5: 23236238100390001770496;
  exp-52: 38310080007165743988736;
  exp-52.5: 63162643790037931524096;
  exp-53: 104137594330290935824384;
  exp-53.5: 171693866851891763216384;
  exp-54: 283075330327469327646720;
  exp-54.5: 466712318321363949453312;
  exp-55: 769478526514201618284544;
  exp-55.5: 1268655614010955967496192;
  exp-56: 2091659496012996908417024;
  exp-56.5: 3448563502138538042851328;
  exp-57: 5685719999335928793399296;
  exp-57.5: 9374167502150266037207040;
  exp-58: 15455389355901045625061376;
  exp-58.5: 25481629178026375958757376;
  exp-59: 42012104037905144311971840;
  exp-59.5: 69266249554160992066207744;
  exp-60: 114200738981568440633917440;
  exp-60.5: 188285187488584869510905856;
  exp-61: 310429793570192056192598016;
  exp-61.5: 511812203718225836300566528;
  exp-62: 843835666874145658065911808;
  exp-62.5: 1391249812950830742197239808;
  exp-63: 2293783159469609954760982528;
  exp-63.5: 3781809085391290770695127040;
  exp-64: 6235149080811615644400222208;
  exp-64.5: 10280022915520467669201453056;
  exp-65: 16948892444103342201405177856;
  exp-65.5: 27943999487401835578043400192;
  exp-66: 46071866343312935398626295808;
  exp-66.5: 75959666021073357732203986944;
  exp-67: 125236317084221334141806837760;
  exp-67.5: 206479779840901660847045083136;
  exp-68: 340427604993174005457992286208;
  exp-68.5: 561270233485747611230665703424;
  exp-69: 925378172558779422376319778816;
  exp-69.5: 1525690676539272522687404048384;
  exp-70: 2515438670919164627989517303808;
  exp-70.5: 4147257241886092325730436251648;
  exp-71: 6837671229762739643424406765568;
  exp-71.5: 11273413998564133548264718860288;
  exp-72: 18586717452841265359445670494208;
  exp-72.5: 30644316416992762856902978699264;
  exp-73: 50523936302761012432743417511936;
  exp-73.5: 83299888461860425182020854874112;
  exp-74: 137338297954017700846561044463616;
  exp-74.5: 226432573118540690568485349097472;
  exp-75: 373324199679900148487366050316288;
  exp-75.5: 615507548879353154306367740182528;
  exp-76: 1014800388113888602031156124188672;
  exp-76.5: 1673122985398114300631957043675136;
  exp-77: 2758513454523169168268171816206336;
  exp-77.5: 4548019807984841495290451570196480;
  exp-78: 7498416996990123212854480720625664;
  exp-78.5: 12362799599516999471283972870242304;
  exp-79: 20382810665126690545448006665109504;
  exp-79.5: 33605573500247788710633889815592960;
  exp-80: 55406223843935070674401921071054848;
  exp-80.5: 91349419780668297399866696719663104;
  exp-81: 150609731458502877424806617774292992;
  exp-81.5: 248313467830067536836418753750106112;
  exp-82: 409399696212743754037977269147795456;
  exp-82.5: 674985987364115730845283073304559616;
  exp-83: 1112863754791734500050817276645998592;
  exp-83.5: 1834802143916319458915681237651685376;
  exp-84: 3025077322200969015265943965562568704;
  exp-84.5: 4987509326624728904592315231890309120;
  exp-85: 8223012714620638101942502931348586496;
  exp-85.5: 13557455971830543622832228521696296960;
  exp-86: 22352466037332194006962588708356751360;
  exp-86.5: 36852986208338397858730910289540153344;
  exp-87: 60760302250390345838379739411925434368;
  exp-87.5: 100176802734234814950950933883185528832;
  exp-88: 165163625498287610333098441869031899136;
  exp-88.5: 272308782504053571694109191323252686848;
  exp-89: 448961281910634573912951821294790246400;
  exp-89.5: 740212015188200694104988904024640061440;
  exp-90: 1220403294245306191700381262018703785984;
  exp-90.5: 2012104869999040877117405610110424711168;
  exp-91: 3317400097914146877069642706378710581248;
  exp-91.5: 5469468104539627158673200508133374427136;
  exp-92: 9017628400870175294452365151132813623296;
  exp-92.5: 14867555752826300782535065799345202790400;
  exp-93: 24512455406131658440463927229990840565760;
  exp-93.5: 40414206609279543035393842834550997123072;
  exp-94: 66631762038579453029079712302033826480128;
  exp-94.5: 109857203293305939205000799553059706372096;
  exp-95: 181123907169501862979382202841897078095872;
  exp-95.5: 298622837669722126441729821142861685456896;
  exp-96: 492345822777990273297698364441925936742400;
  exp-96.5: 811741026956865061610408525926280820948992;
  exp-97: 1338334689413107403095323402600104721383424;
  exp-97.5: 2206540810645700823050401468941567950585856;
  exp-98: 3637970706514704141694603967056773476515840;
  exp-98.5: 5997999548542561091591141413119519868583936;
  exp-99: 9889029136949004401541121581715053571211264;
  exp-99.5: 16304252030895997490855290300614959016443904;
  exp-100: 26881165708861004230350065542289136101097472;
  exp-100.5: 44319539647903378553979917875334168814026752;
  exp-101: 73070557660933659469301800505990276328718336;
  exp-101.5: 120472961214441961208229771013228519684571136;
  exp-102: 198626288096438514994701116674186750646550528;
  exp-102.5: 327479289572377653163910510531788907500011520;
  exp-103: 539921866833473029608259311204312695957356544;
  exp-103.5: 890179275854528335515987497253285045718745088;
  exp-104: 1467656185737761851268831760535425240533041152;
  exp-104.5: 2419753228179277968388152519274810428465610752;
  exp-105: 3989492940394045085256400784498072686711275520;
  exp-105.5: 6577550163837533263362893810391381220698095616;
  exp-106: 10844522806730478595153388873770707729868914688;
  exp-106.5: 17879546149412374828710837769004574762495639552;
  exp-107: 29478064307655352482351821079610411067847475200;
  exp-107.5: 48600821669293869568014531324601040491803312128;
  exp-108: 80128623195294258272885136076923450230090760192;
  exp-108.5: 132108588027279555005576904458985937105397481472;
  exp-109: 217807878007632445226368043152786397562813808640;
  exp-109.5: 359099761693585311272561065450029006509024739328;
  exp-110: 592046010830963243462340181572192798617972506624;
  exp-110.5: 976059259767983990548805937318512520048735682560;
  exp-111: 1609199229076375604029544923453499343470854144000;
  exp-111.5: 2653021881034615495713682843833068623335650230272;
  exp-112: 4373899404099485553807092229827963269040243212288;
  exp-112.5: 7210961615789590022260853868264454829692074065920;
  exp-113: 11888126919633519146861542789130477431090971672576;
  exp-113.5: 19598772875679787689429982442006648417651192233984;
  exp-114: 32304126047880796744401748767450203552870796623872;
  exp-114.5: 53253457952211615741768996936074488793511946616832;
  exp-115: 87786611634596225249189693526694110858579529433088;
  exp-115.5: 144709856376817948950439524440319674722813212622848;
  exp-116: 238537049068299268479820398012264088831158298607616;
  exp-116.5: 393187651803019873625777519695097486168240561324032;
  exp-117: 648079706133564981918730406174820648081222235324416;
  exp-117.5: 1067452075791973773286075775525245814306933143764992;
  exp-118: 1759132224769343890684729281909397588953337027362816;
  exp-118.5: 2898823389674934745103379046890963939102438467829760;
  exp-119: 4776559687584354893183735056740047799663526923993088;
  exp-119.5: 7870015778046091279125112288532022456770575506341888;
  exp-120: 12965803906081157614460005517892865385130567913177088;
  exp-120.5: 21359102384009745604650100395112105830684189018554368;
  exp-121: 35182138356446033429141272272397805939816564288126976;
  exp-121.5: 57815857966202266078009744858621165260529142635429888;
  exp-122: 95186003256754744153809927995287105577645581973585920;
  exp-122.5: 156686351835249905894213516426851485094390651011727360;
  exp-123: 257878720099344033334862957156201879664893834991501312;
  exp-123.5: 424346008064524494322019307014959698832807545469403136;
  exp-124: 698133943461315045370323082790504061952164420642668544;
  exp-124.5: 1148325142974716960439220234413928473456403200350355456;
  exp-125: 1888389973174939475366112802147122969597137571163406336;
  exp-125.5: 3086311683982487586234034691470371822628591169467056128;
  exp-126: 5070028210042928694495729587307888527547569331452772352;
  exp-126.5: 8326151030998658579472361222478389174338864814563000320;
  exp-127: 13668892088801648419327336378954587399813890831210774528;
  exp-127.5: 22432056939938007698842256240537782301866261789030744064;
  exp-128: 36799601080126500764192660152264163973187448913807802368; }
