mod-nth {
  mod-nth-1: x b c d e f g h i j k l m n o p q r s t u v w x y z;
  mod-nth-2: a x c d e f g h i j k l m n o p q r s t u v w x y z;
  mod-nth-3: a b x d e f g h i j k l m n o p q r s t u v w x y z;
  mod-nth-4: a b c x e f g h i j k l m n o p q r s t u v w x y z;
  mod-nth-5: a b c d x f g h i j k l m n o p q r s t u v w x y z;
  mod-nth-6: a b c d e x g h i j k l m n o p q r s t u v w x y z;
  mod-nth-7: a b c d e f x h i j k l m n o p q r s t u v w x y z;
  mod-nth-8: a b c d e f g x i j k l m n o p q r s t u v w x y z;
  mod-nth-9: a b c d e f g h x j k l m n o p q r s t u v w x y z;
  mod-nth-10: a b c d e f g h i x k l m n o p q r s t u v w x y z;
  mod-nth-11: a b c d e f g h i j x l m n o p q r s t u v w x y z;
  mod-nth-12: a b c d e f g h i j k x m n o p q r s t u v w x y z;
  mod-nth-13: a b c d e f g h i j k l x n o p q r s t u v w x y z;
  mod-nth-14: a b c d e f g h i j k l m x o p q r s t u v w x y z;
  mod-nth-15: a b c d e f g h i j k l m n x p q r s t u v w x y z;
  mod-nth-16: a b c d e f g h i j k l m n o x q r s t u v w x y z;
  mod-nth-17: a b c d e f g h i j k l m n o p x r s t u v w x y z;
  mod-nth-18: a b c d e f g h i j k l m n o p q x s t u v w x y z;
  mod-nth-19: a b c d e f g h i j k l m n o p q r x t u v w x y z;
  mod-nth-20: a b c d e f g h i j k l m n o p q r s x u v w x y z;
  mod-nth-21: a b c d e f g h i j k l m n o p q r s t x v w x y z;
  mod-nth-22: a b c d e f g h i j k l m n o p q r s t u x w x y z;
  mod-nth-23: a b c d e f g h i j k l m n o p q r s t u v x x y z;
  mod-nth-24: a b c d e f g h i j k l m n o p q r s t u v w x y z;
  mod-nth-25: a b c d e f g h i j k l m n o p q r s t u v w x x z;
  mod-nth-26: a b c d e f g h i j k l m n o p q r s t u v w x y x;
  mod-nth-1: x, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z;
  mod-nth-2: a, x, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z;
  mod-nth-3: a, b, x, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z;
  mod-nth-4: a, b, c, x, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z;
  mod-nth-5: a, b, c, d, x, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z;
  mod-nth-6: a, b, c, d, e, x, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z;
  mod-nth-7: a, b, c, d, e, f, x, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z;
  mod-nth-8: a, b, c, d, e, f, g, x, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z;
  mod-nth-9: a, b, c, d, e, f, g, h, x, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z;
  mod-nth-10: a, b, c, d, e, f, g, h, i, x, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z;
  mod-nth-11: a, b, c, d, e, f, g, h, i, j, x, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z;
  mod-nth-12: a, b, c, d, e, f, g, h, i, j, k, x, m, n, o, p, q, r, s, t, u, v, w, x, y, z;
  mod-nth-13: a, b, c, d, e, f, g, h, i, j, k, l, x, n, o, p, q, r, s, t, u, v, w, x, y, z;
  mod-nth-14: a, b, c, d, e, f, g, h, i, j, k, l, m, x, o, p, q, r, s, t, u, v, w, x, y, z;
  mod-nth-15: a, b, c, d, e, f, g, h, i, j, k, l, m, n, x, p, q, r, s, t, u, v, w, x, y, z;
  mod-nth-16: a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, x, q, r, s, t, u, v, w, x, y, z;
  mod-nth-17: a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, x, r, s, t, u, v, w, x, y, z;
  mod-nth-18: a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, x, s, t, u, v, w, x, y, z;
  mod-nth-19: a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, x, t, u, v, w, x, y, z;
  mod-nth-20: a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, x, u, v, w, x, y, z;
  mod-nth-21: a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, x, v, w, x, y, z;
  mod-nth-22: a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, x, w, x, y, z;
  mod-nth-23: a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, x, x, y, z;
  mod-nth-24: a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z;
  mod-nth-25: a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, x, z;
  mod-nth-26: a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, x; }
